}
img{

display: flex;




}
#vanhoof{
border-style: inset;
border-color: whitesmoke;
border-width: 1px;
}
.logoblock{
  height: 100px;
  width: 100%;
  background-color: ;
justify-content: center;
align-content: center;
display: flex;
}
.containermain{
  display: flex;
  flex-wrap: wrap;

}
#logo{

  display: flex;
  width: 20%;

  background-color: #CCCCCC;
  height: 120px;
  justify-content: center;
  overflow: hidden;


}
.text p{
font-size: 20px;
font-family: sans-serif;

}
.docent{
border: 1px solid black;
width: 100px;
height: 65px;
color: black;
background-color: #CED3BC;
display: flex;
align-items: center;
justify-content: center;
}
.containerdocent{
  background-color: #CCCCCC;
 width: 100%;
 height: 100px;
 flex-direction: row;
 display: flex;
 z-index: 4;
 margin-bottom: 30px;
 margin-top: 30px;
 justify-content: space-around;
text-decoration: underline;
transition-property: background-color;
 transition-duration: 0.7s;
}


.containerquotes{
  background-color: #CCCCCC;
 width: 20%;
 height: 410px;

 flex-direction: column;
 align-items: center;


display: flex;
overflow: scroll;
transition-property: background-color;
 transition-duration: 0.7s;

}

h4:hover {
color: #A59E4C;
background-color: gray;
transition-property: background-color;
 transition-duration: 0.7s;
}

.containerquotes:hover {
background-color: #D3D8DA;
transition-property: background-color;
 transition-duration: 0.7s;
}

.docent:hover {
color: #A59E4C;
background-color: gray;
transition-property: background-color;
 transition-duration: 0.7s;
}
.containerdocent:hover {
background-color: #D3D8DA;
transition-property: background-color;
 transition-duration: 0.7s;
}
.text:hover {
background-color: #D3D8DA;
transition-property: background-color;
 transition-duration: 0.7s;

}


.Quotenummer{
  border: 1px black solid;
  background-color: #CED3BC;
  width: 90px;
  height: 30px;
  display: flex;
  color: black;
justify-content: space-around;
text-decoration: underline;
transition-property: background-color;
 transition-duration: 0.7s;


}
.text{
  width: 75%;
  height: 410px;
  background-color: #CCCCCC;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
font-size: 30px;
font-family: sans-serif;
padding-left: 20px;
overflow: scroll;

}
.achtergrond{
  height: auto;
  width: 100%;
  display: flex;

}

@Media only screen and (min-width 200px) and (max-width 700px)
{

.text{
width: 200px;
}

}
body{

 background-color:#E6EBD1;

}
