


}
img{

display: flex;



}
}
.logoblock{
  height: 100px;
  width: 100%;
  background-color: ;
justify-content: center;
align-content: center;
display: flex;
}
.containermain{
  display: flex;
  flex-wrap: wrap;
#logoe{

}
}
#logo{

  display: flex;
  width: 20%;

  background-color: whitesmoke;
  hide: 90px;
  justify-content: center;
  overflow: hidden;


}
.docent{
border: 1px solid black;
width: 100px;
height: 65px;
color: white;
background-color: lightseagreen;
display: flex;
align-items: center;
justify-content: center;
}
.containerdocent{
  background-color: whitesmoke;
 width: 100%;
 height: 100px;
 flex-direction: row;
 display: flex;
 z-index: 4;
 margin-bottom: 30px;
 margin-top: 30px;
 justify-content: space-around;
}


.containerquotes{
  background-color: whitesmoke;
 width: 20%;
 height: 800px;
 flex-direction: column;
 flex-wrap: wrap;
align-content: center;
display: flex;

}
.Quotenummer{
  border: 1px black solid;
  background-color: lightseagreen;
  width: 80px;
  height: 30px;
  display: flex;
  color: white;
justify-content: space-around;
flex-wrap: wrap;
}
.text{
  width: 50%;
  height: 300px;
  background-color: whitesmoke;
  display: flex;
  margin-left: 300px;
  flex-direction: column;
font-size: 30px;
font-family: sans-serif;
padding-left: 50px;
overflow: scroll;

}
.achtergrond{
  height: 600px;
  width: 100%;
  display: flex;
